<%- include('../../modules/tabmenu')%>


<div class="" style="padding:3%;">
    <h3>NEW ACTION PLAN - 단계별 기간설정</h3>
    <!-- <hr> -->
    <form class="ui form" style="padding-top:10%;">



      <div class="field">
        <label>1단계</label>
        <input type="date" name="first-name" placeholder="목표를 입력해 주세요"  style="width:48%;">
        <input type="date" name="first-name" placeholder="목표를 입력해 주세요"  style="width:48%;">
      </div>
      <div class="field">
        <label>2단계</label>
        <input type="date" name="first-name" placeholder="목표를 입력해 주세요"  style="width:48%;">
        <input type="date" name="first-name" placeholder="목표를 입력해 주세요"  style="width:48%;">
      </div>



    </form>

    <div class="" style="margin-top:25%; width:100%; text-align:center;">
        <a href="/m/user/actionplan/design/step1"><button type="button" class="ui basic button" style=""><i class="icon chevron left"></i> 뒤로</button></a>
        <a href="/m/user/actionplan/design/step3"><button type="button" class="ui blue button" style="">다음 <i class="icon chevron right"></i></button></a>
    </div>
</div>
