<%- include('../modules/tabmenu')%>
<br>
<div class="" style="padding:3%;">
    <h3>[강의] 우리회사 감성안전 지킴이</h3>
    <h5>기간: [1회차] 2017.01.01~2017.01.05</h5>
    <h5>평가자: 10명 / 응원자: 10명</h5>

    <div id="tl" class="ui secondary menu">
      <a class="active item">
        <p><b>1차</b><br>2017.12.25</p>
      </a>
      <a class="item">
        <p><b>2차</b><br>2017.12.25</p>
      </a>
      <a class="item">
        <p><b>3차</b><br>2017.12.25</p>
      </a>
    </div>

    <!-- <h4> 안전이 우리사회에 미치는 영향</h4> -->



<div id="container2" style="min-width: 310px; height: 200px; margin: 0 auto"></div>

<hr>
    <table class="ui table celled unstackable">
        <colgroup>
            <col width="25%">
        </colgroup>
        <tr>
            <td colspan="2">8월 4일 (금)</td>
            <td>
                <div class="ui toggle checkbox">
                  <input type="checkbox" tabindex="0" class="hidden">
                  <label>휴식</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                ACTION KPI :<br> 리더십
            </td>
            <td>
                매일 동료들에게 사랑한다고 1회 이상 말하기
            </td>
            <td><div class="ui star rating st" data-rating="3"></div></td>
        </tr>
        <tr>
            <td rowspan="2">
                ACTION KPI :<br> CS
            </td>
            <td>
                고객의 불만에 바로 응대하도록 한다
            </td>
            <td><div class="ui star rating st" data-rating="3"></div></td>
        </tr>
        <tr>
            <td>
                복장은 언제나 정복으로 깔끔하게 입고다닌다
            </td>
            <td><div class="ui star rating st" data-rating="3"></div></td>
        </tr>
    </table>

    <br>

    <h4>Today</h4>
    <div class="ui comments">


    <div class="comment">
      <a class="avatar">
        <img src="https://semantic-ui.com/images/avatar/small/matt.jpg">
      </a>
      <div class="content">
        <a class="author">Matt</a>
        <div class="metadata">
          <span class="date">Today at 5:42PM</span>
        </div>
        <div class="text">
           오늘은 좋은날 스스로에게 응원합니다.<br>
          <img src="/images/cmm03.jpg" width="55%" alt="">
        </div>
        <div class="actions">
          <a class="reply">Reply</a>
        </div>
      </div>
    </div>
    <div class="comment">
      <a class="avatar">
        <img src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
      </a>
      <div class="content">
        <a class="author">Elliot Fu</a>
        <div class="metadata">
          <span class="date">Yesterday at 12:30AM</span>
        </div>
        <div class="text">
          <p>파이팅 합시다. </p>
        </div>
        <div class="actions">
          <a class="reply">Reply</a>
        </div>
      </div>
      <div class="comments">
        <div class="comment">
          <a class="avatar">
            <img src="https://semantic-ui.com/images/avatar/small/jenny.jpg">
          </a>
          <div class="content">
            <a class="author">Jenny Hess</a>
            <div class="metadata">
              <span class="date">Just now</span>
            </div>
            <div class="text">
              파이팅 합시다.  :)<br>
              <img src="/images/cmm02.jpg" width="55%" alt="">
            </div>
            <div class="actions">
              <a class="reply">Reply</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="comment">
      <a class="avatar">
        <img src="https://semantic-ui.com/images/avatar/small/joe.jpg">
      </a>
      <div class="content">
        <a class="author">Joe Henderson</a>
        <div class="metadata">
          <span class="date">5 days ago</span>
        </div>
        <div class="text">
          Dude, this is awesome. Thanks so much<br>
          <img src="/images/cmm01.jpg" width="55%" alt="">
        </div>
        <div class="actions">
          <a class="reply">Reply</a>
        </div>
      </div>
    </div>
    <form class="ui reply form">
      <div class="field">
        <textarea></textarea>
      </div>
      <div class="ui blue labeled submit icon button">
        <i class="icon edit"></i> 등록
      </div>
    </form>


</div>



<!-- 출력버튼 -->
<button class="circular ui icon orange button tooltip" style="position:fixed; bottom:15px; right: 10px;  font-size:1em; box-shadow:1px 1px 1px 1px rgba(0,0,0,0.1); z-index:11;" data-content="보고서로 출력(종료 시 생김)">
  <i class="icon photo"></i> 카메라
</button>
<!-- 출력버튼 -->
<button class="circular ui icon orange button tooltip" style="position:fixed; bottom:15px; right: 95px;  font-size:1em; box-shadow:1px 1px 1px 1px rgba(0,0,0,0.1); z-index:11;" data-content="보고서로 출력(종료 시 생김)">
  <i class="icon image"></i> 갤러리
</button>
<!-- 출력버튼 -->
<a href="/m/user/myplan/detail_self"><button class="circular ui icon orange button tooltip" style="position:fixed; bottom:15px; right: 180px;  font-size:1em; box-shadow:1px 1px 1px 1px rgba(0,0,0,0.1); z-index:11;" data-content="보고서로 출력(종료 시 생김)">
  <i class="icon write"></i> 플랜치
</button></a>




<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">

    $(document).ready(function(){
        $('.st').rating({
                initialRating: 4,
                maxRating: 5
        });

        $('.ui.checkbox').checkbox();
    });

    Highcharts.createElement('link', {
       href: 'https://fonts.googleapis.com/css?family=Dosis:400,600',
       rel: 'stylesheet',
       type: 'text/css'
    }, null, document.getElementsByTagName('head')[0]);

    Highcharts.theme = {
       colors: ['#7cb5ec', '#f7a35c', '#90ee7e', '#7798BF', '#aaeeee', '#ff0066',
          '#eeaaee', '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],
       chart: {
          backgroundColor: null,
          style: {
             fontFamily: 'Dosis, sans-serif'
          }
       },
       title: {
          style: {
             fontSize: '16px',
             fontWeight: 'bold',
             textTransform: 'uppercase'
          }
       },
       tooltip: {
          borderWidth: 0,
          backgroundColor: 'rgba(219,219,216,0.8)',
          shadow: false
       },
       legend: {
          itemStyle: {
             fontWeight: 'bold',
             fontSize: '12px'

          }
       },
       xAxis: {
          gridLineWidth: 1,
          labels: {
             style: {
                fontSize: '15px'
             }
          }
       },
       yAxis: {
          minorTickInterval: 'auto',
          title: {
             style: {
                textTransform: 'uppercase'
             }
          },
          labels: {
             style: {
                fontSize: '13px'
             }
          }
       },
       plotOptions: {
          candlestick: {
             lineColor: '#404048'
          }
       },


       // General
       background2: '#F0F0EA'

    };



    // Apply the theme
    Highcharts.setOptions(Highcharts.theme);
    var opt = {
        title: {
            text: ''
        },
        credits: {
            enabled: false
        },
        xAxis: {
            title:{
                enabled:false
            },
            categories: ['08-01', '08-02', '08-03', '08-04', '08-05', '08-06']
        },
        labels: {
            enabled:false,
            items: [{
                // html: 'Total fruit consumption<b>123</b>',
                style: {
                    left: '50px',
                    top: '18px',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                }
            }]
        },
        series: [{
            type: 'column',
            name: '자가평가',
            data: [1.5, 3.5, 1.5, 4, 4, 1.5]
        }, {
            type: 'column',
            name: '팀평가',
            data: [0, 4.5, 1.5, 4, 2.5, 2.5]
        }]
    }


    Highcharts.chart('container2', opt);
</script>
