<div class="ui ordered steps" style="width:100%;">
    <%
    var selectFlag='completed';
    var step = [
        { title: '신청서', sub: 'application' },
        { title: '결제', sub: 'payment' },
        { title: '완료', sub: 'complete' }
    ];

    step.forEach(function(st){
    selectFlag = (st.sub == selector) ? 'active' : (st.sub!=selector && selectFlag!='completed')?'':'completed';
    %>
      <div class="<%=selectFlag%> step" onclick="location.href='/aplectures/<%=st.sub%>/1'" style="cursor:pointer;">
        <div class="content">
          <div class="title"><%=st.title%></div>
          <div class="description"><%=st.sub%></div>
        </div>
      </div>
    <% }); %>
</div>

<br>
<br>
