<% if(page === "home"){ %>

<ul class="rightMenu" style="margin-right:20px;">
    <li><a href="/intro">서비스소개</a></li>
    <li><a href="#notice">공지사항</a></li>
    <li><a href="/guide">이용가이드</a></li>
    <li><a href="/login">로그인</a></li>
    <li><a href="/join_agree">회원가입</a></li>
</ul>

<% }else{ %>

<ul class="rightMenu" style="margin-right:20px;">
    <li><a href="/intro">서비스소개</a></li>
    <li><a href="#notice">공지사항</a></li>
    <li><a href="/guide">이용가이드</a></li>
    <li><a href="/home_aplecture">수강신청</a></li>
    <li class="tooltip" data-content="APL 수료 후 이용가능"><a href="/lectures/status"><b>APL강의관리</b></a></li>
    <li><a href="#">
        <a href="#" class="ui dropdown"><i class="user circle icon"></i><i class="dropdown icon"></i>
        <div class="menu">
            <div class="item">내정보</div>
            <div class="item" onclick="move('/users/logout')">로그아웃</div>
            <% if( user.user.admin_idx ){ %>

                <div class="item" style="border-top:1px solid #f2f2f2;" onclick="move('/manager/notices')">관리자모드</div>

            <% } %>
          </div>
        </a>
    </a></li>
</ul>

<% } %>
