<!-- 출력버튼 -->
<button class="circular ui icon orange button tooltip" style="position:fixed; bottom:15px; right: 10px;  font-size:1em; box-shadow:1px 1px 1px 1px rgba(0,0,0,0.1); z-index:11;" data-content="보고서로 출력(종료 시 생김)">
  <i class="icon photo"></i> 카메라
</button>
<!-- 출력버튼 -->
<button class="circular ui icon orange button tooltip" style="position:fixed; bottom:15px; right: 95px;  font-size:1em; box-shadow:1px 1px 1px 1px rgba(0,0,0,0.1); z-index:11;" data-content="보고서로 출력(종료 시 생김)">
  <i class="icon image"></i> 갤러리
</button>
<!-- 출력버튼 -->
<button class="circular ui icon orange button tooltip" style="position:fixed; bottom:15px; right: 180px;  font-size:1em; box-shadow:1px 1px 1px 1px rgba(0,0,0,0.1); z-index:11;" data-content="보고서로 출력(종료 시 생김)">
  <i class="icon write"></i> 피드백
</button>
