<h1 class="ui header">수강내역</h1>


<hr>

<!-- 검색 -->
<div class="ui secondary  menu" style="padding:0;">
  <a class="item active">전체(20건)</a>
  <a class="item">모집중(5건)</a>
  <a class="item">내수강이력(5건)</a>
  <a class="item">종료(10건)</a>

  <div class="right menu" style="padding:0;">
    <div class="item" style="padding:0;">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>

<hr>


<!-- LIST -->
<table class="ui single line table">
    <colgroup>
        <col width="5%">
        <col width="37%">
        <col width="18%">
        <col width="23%">
        <col width="7%">
        <col width="8%">
    </colgroup>
    <thead>
        <tr>
            <th>No</th>
            <th>강의명</th>
            <th>기간</th>
            <th>장소</th>
            <th style="text-align:center;">정원</th>
            <th style="text-align:center;">현황</th>
        </tr>
    </thead>
    <tbody>
    <% for(var ii=1; ii<=10; ii++){ %>
        <tr>
            <td><%=ii%></td>
            <td><a href="/aplecture/detail/<%=ii%>">2017년 3차 APL자격 취득 강사 양성교육</a></td>
            <td>2018-01-05 ~ 2018-01-08</td>
            <td>부산광역시 남구 수영대로 99-1 부산본사</td>
            <td style="text-align:center;">75명</td>
            <td style="text-align:center;">선발중</td>
        </tr>
    <% } %>
    </tbody>
</table>
<br>
<div class="ui two column centered grid">
  <div class="ui centered pagination menu">
          <a class="icon item">
            <i class="left chevron icon"></i>
          </a>
          <a class="item">1</a>
          <a class="item">2</a>
          <a class="item">3</a>
          <a class="item">4</a>
          <a class="icon item">
            <i class="right chevron icon"></i>
          </a>
        </div>

</div>

<!-- <form class="ui form grid">
  <div class="fields four wide column inline" style="margin:0; padding-right:0;">
    <input type="text" name="first-name" placeholder="Search..">
  </div>
  <div class="fields two wide column inline" style="margin:0; padding-left:5px;">
    <button class="ui primary button">검색</button>
  </div>
  </form> -->
