

<h1 class="ui header">2017년 3차 APL자격 취득 강사 양성교육</h1>
    <table class="ui celled table">
        <colgroup>
            <col width="12%;">
            <col width="38%;">

            <col width="12%;">
            <col width="38%;">
        </colgroup>
        <tbody>
            <tr>
                <td>강의기간</td>
                <td>2018년 01월05일 ~ 2018년 01월 08일</td>
                <td>시간</td>
                <td>매일 13:00~17:00</td>
            </tr>
            <tr>
                <td>금액</td>
                <td>2,500,000원</td>
                <td>정원</td>
                <td>55명</td>
            </tr>
            <tr>
                <td>장소</td>
                <td colspan="3">부산광역시 남구 수영대로 99-1 부산본사</td>
            </tr>
        </tbody>
    </table>
<!-- <hr> -->



<div class="ui top attached tabular menu">
  <a class="item active" data-tab="first">강의내용</a>
  <a class="item " data-tab="second">자료실</a>
  <a class="item" data-tab="third">댓글</a>
</div>


<div class="ui bottom attached tab segment active" data-tab="first">
    <h4>강의내용</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <br>
    <h4>수강요건</h4>
    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <br>
    <h4>오시는길</h4>
    <div class="">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3262.8602444645694!2d129.08969731534756!3d35.135160980325196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3568ecf52b9112eb%3A0xcb01e20e7a776100!2z64yA7Jew7Jet!5e0!3m2!1sko!2skr!4v1510895998894" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>



<div class="ui bottom attached tab segment " data-tab="second">
    <!-- LIST -->
    <table class="ui single line table">
        <colgroup>
            <col width="90%">
            <col width="10%">
        </colgroup>
        <thead>
            <tr>
                <th>파일명</th>
                <th>받기</th>
            </tr>
        </thead>
        <tbody>
        <% for(var ii=1; ii<=3; ii++){ %>
            <tr>
                <td>2017년 3차 APL자격 취득 강사 양성교육 자료.pdf</td>
                <td><a href="#">다운로드</a></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>



<div class="ui bottom attached tab segment comments" data-tab="third">
        <!-- <h3 class="ui dividing header">Comments</h3> -->
        <div class="comment">
          <a class="avatar">
            <img src="https://semantic-ui.com/images/avatar/small/matt.jpg">
          </a>
          <div class="content">
            <a class="author">Matt</a>
            <div class="metadata">
              <span class="date">Today at 5:42PM</span>
            </div>
            <div class="text">
              How artistic!
            </div>
            <div class="actions">
              <a class="reply">Reply</a>
            </div>
          </div>
        </div>
        <div class="comment">
          <a class="avatar">
            <img src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
          </a>
          <div class="content">
            <a class="author">Elliot Fu</a>
            <div class="metadata">
              <span class="date">Yesterday at 12:30AM</span>
            </div>
            <div class="text">
              <p>This has been very useful for my research. Thanks as well!</p>
            </div>
            <div class="actions">
              <a class="reply">Reply</a>
            </div>
          </div>
          <div class="comments">
            <div class="comment">
              <a class="avatar">
                <img src="https://semantic-ui.com/images/avatar/small/jenny.jpg">
              </a>
              <div class="content">
                <a class="author">Jenny Hess</a>
                <div class="metadata">
                  <span class="date">Just now</span>
                </div>
                <div class="text">
                  Elliot you are always so right :)
                </div>
                <div class="actions">
                  <a class="reply">Reply</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="comment">
          <a class="avatar">
            <img src="https://semantic-ui.com/images/avatar/small/joe.jpg">
          </a>
          <div class="content">
            <a class="author">Joe Henderson</a>
            <div class="metadata">
              <span class="date">5 days ago</span>
            </div>
            <div class="text">
              Dude, this is awesome. Thanks so much
            </div>
            <div class="actions">
              <a class="reply">Reply</a>
            </div>
          </div>
        </div>
        <form class="ui reply form">
          <div class="field">
            <textarea></textarea>
          </div>
          <div class="ui blue labeled submit icon button">
            <i class="icon edit"></i> 등록
          </div>
        </form>

</div>



<!-- 출력버튼 -->
<button class="circular ui icon orange button tooltip" style="position:fixed; bottom:35px; right: 30px;  font-size:1.75em; box-shadow:1px 1px 1px 1px rgba(0,0,0,0.1);" data-content="수강신청">
  <i class="icon edit"></i>
</button>


<script type="text/javascript">
    $('.menu .item')
      .tab()
    ;

    $(document).ready(function() {
            $('.tooltip').popup();
    });
</script>
