            <div class="cardbox" style="margin:10px 0; padding:25px; ">
                <h2>
                    팀빌딩
                    <small>
                        <!-- <button id="loadTemplate" class="ui button">수강생등록</button> -->
                    </small>
                </h2>

            </div>


            <div class="cardbox ui grid" style="margin:0; padding:25px;">

                <div class="six wide column" style="height:600px; overflow:scroll; border:1px solid #f2f2f2;">
                    <h3>팀 목록</h3>

                        <table class="ui table celled">
                            <thead>
                                <tr>
                                    <th>팀명</th>
                                    <th>이름</th>
                                    <th>소속</th>
                                    <th>부서</th>
                                    <th>직급</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <%
                                var cc=1;
                                for(var ii=0; ii<15; ii++){ %>
                                <tr>
                                    <% if(ii%5==0){ %>
                                    <td rowspan="5">
                                        <%=cc++%>조<br>
                                        <button type="button" class="mini basic ui button teamEdit" style="padding: 5px 11px;">수정</button><br>
                                        <button type="button" class="mini red ui button" style="padding: 5px 11px;" onclick="confirm('해당 팀을 삭제하시겠습니까? 삭제된 팀의 구성원은 목록으로 자동 반환됩니다.')">삭제</button>
                                    </td>
                                    <% } %>
                                    <td style="border-left:1px solid #f1f1f1;">박길동</td>
                                    <td>아카스타</td>
                                    <td>기획팀</td>
                                    <td>매니저</td>
                                    <td><input type="checkbox" name="" value=""></td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>


                </div>


                <div class="two wide column" style="text-align:center; padding:20% 2%;">
                        <a onclick="confirm('선택한 수강생을 추가하시겠습니까?')">
                            <div class="ui  animated button" tabindex="0" style="width:100%; background:#4374D9; color: #fff;">
                              <div class="visible content "><i class="long arrow left icon"></i></div>
                              <div class="hidden content">
                                추가하기
                              </div>
                            </div>
                        </a>
                        <br>
                        <br>
                        <a onclick="confirm('선택한 수강생을 제외하시겠습니까?')">
                            <div class="ui  animated button" tabindex="0" style="width:100%; background:#4374D9; color: #fff;">
                              <div class="visible content "><i class="long arrow right icon"></i></div>
                              <div class="hidden content">
                                제외하기
                              </div>
                            </div>
                        </a>
                        <br>
                        <br>
                        <br>
                        <a onclick="confirm('팀구성이 무작위로 매칭됩니다.')">
                            <div class="ui  animated button" tabindex="0" style="width:100%; background:#4374D9; color: #fff;">
                              <div class="visible content "><i class="random icon"></i></div>
                              <div class="hidden content">
                                랜덤배치
                              </div>
                            </div>
                        </a>
                </div>

                <div class="eight wide column" style="height:600px; overflow:scroll; border:1px solid #f2f2f2;">
                    <h3>수강생</h3>
                    <table class="ui celled table">
                        <colgroup>
                            <col width="3%">
                            <col width="8%">
                            <col width="15%">
                            <col width="10%">
                            <col width="10%">
                        </colgroup>
                        <thead>
                        <tr>
                          <th class="center aligned"></th>
                          <th class="center aligned">이름</th>
                          <th class="center aligned">소속</th>
                          <th class="center aligned">부서</th>
                          <th class="center aligned">직급</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(var ii=0; ii<13; ii++){ %>
                        <tr>

                          <td class="center aligned"><input type="checkbox" name="" value=""></td>
                          <% if(ii%2==0){ %>
                            <td class="center aligned">박길동</td>
                            <td class="center aligned">비전플랜</td>
                            <td class="center aligned">개발팀</td>
                            <td class="center aligned">팀장</td>
                          <% }else{ %>
                            <td class="center aligned">홍길동</td>
                            <td class="center aligned">아카스타</td>
                            <td class="center aligned">기획팀</td>
                            <td class="center aligned">매니저</td>
                          <% } %>
                        </tr>
                        <% } %>
                        </tbody>
                    </table>
                    <!-- <br>
                    <div class="ui two column centered grid">
                      <div class="ui centered pagination menu">
                              <a class="icon item">
                                <i class="left chevron icon"></i>
                              </a>
                              <a class="item">1</a>
                              <a class="item">2</a>
                              <a class="item">3</a>
                              <a class="item">4</a>
                              <a class="icon item">
                                <i class="right chevron icon"></i>
                              </a>
                            </div>
                    </div> -->
                </div>










                <br>
                <br>



            </div>

            <div class="cardbox" style="margin:10px 0; padding:25px; text-align:center;">
                <button class="ui button">저장</button>
                <button class="ui primary button" onclick="move('/lectures/new/survey')">다음페이지</button>
            </div>
        </div>
        <!-- content -->




    </div>




<!-- 모달 -->
<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">상세보기</div>
    <div class="content">
        <%- include('../../../modules/searchForm')%>
        <table class="ui celled table">
            <colgroup>
                <col width="5%">
                <col width="80%">
            </colgroup>
              <thead>
                <tr>
                  <th></th>
                  <th>강의명</th>
                  <th>내용</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="checkbox" name="" value=""></td>
                  <td>Approved</td>
                  <td>
                      <button class="ui button">상세보기</button>
                  </td>
                </tr>
              </tbody>
        </table>
    </div>
    <div class="actions">
        <div class="ui black deny button">닫기</div>
        <div class="ui positive right labeled icon button">
            적용하기<i class="checkmark icon"></i>
        </div>
    </div>
</div>



<!-- 모듈추가 모달 -->
<div class="ui modal small lectureModule">
    <i class="close icon"></i>
    <div class="header">팀 설정</div>
    <div class="content">

        <div class="ui form">
            <label for="">팀명</label>
            <input type="text" placeholder="내용을 입력해 주세요" style="width:100%;">
            <br>
            <br>
            <label for="">팀 설명</label>
            <textarea  rows="6" placeholder="내용을 입력해 주세요"></textarea>
        </div>

    </div>
    <div class="actions">
        <div class="ui black deny button">닫기</div>
        <div class="ui positive right labeled icon button">
            적용하기<i class="checkmark icon"></i>
        </div>
    </div>
</div>




<script type="text/javascript">
    $(document).on('click', '#loadTimetableTemplate', function() {
        $('.loadTimetableTemplate').modal({duration:100}).modal('show');
    })
    $(document).on('click', '.teamEdit', function() {
        $('.lectureModule').modal({duration:100}).modal('show');
    })
</script>
