<div id="kpi">

            <div class="cardbox" style="margin:10px 0; padding:25px; ">
                <h2>KPI설정</h2>
            </div>


            <div class="cardbox ui grid" style="margin:0; padding:25px;">

                <div class="nine wide column" style="height:600px; overflow:scroll; border:1px solid #f2f2f2;">
                    <h3>리더십</h3>
                    <div class="ui form" v-for="(kpi, kpiIndex) in kpiGroup">
                        <div class="inline field">
                            <div class="ui checkbox" v-for="(item, listIndex) in kpi.list">
                                <input type="checkbox" tabindex="0" class="hidden" checked>
                                <label>{{ item }}&nbsp;&nbsp;</label>
                            </div>
                        </div>
                    </div>


                    <!-- 직접입력 -->
                    <h3>직접입력</h3>
                    <div class="ui form">
                        <div class="inline field">
                            <input type="text" placeholder="KPI를 입력해 주세요" v-model="">
                            <button type="button" class="ui button green">확인</button>
                        </div>
                    </div>

                </div>




                <div class="seven wide column" style="height:600px; overflow:scroll; border:1px solid #f2f2f2;">
                    <div class="">
                        <a class="ui label large">리더십<i class="delete icon"></i></a>
                        <a class="ui label large">커뮤니케이션<i class="delete icon"></i></a>
                        <a class="ui label large">인사<i class="delete icon"></i></a>
                    </div>
                </div>


                <br>
                <br>



            </div>

            <div class="cardbox" style="margin:10px 0; padding:25px; text-align:center;">
                <button class="ui button">저장</button>
                <button class="ui primary button" onclick="move('/lectures/new/students')">다음페이지</button>
            </div>




</div>
<!-- END -->




<script type="text/javascript">


// kpiGroup: [
//     {
//         title: '리더십',
//         list: ['리더십', '커뮤니케이션', '팔로워십', '조직활성화']
//     },
//     {
//         title: 'CS',
//         list: ['인사', '상담', '서비스마인드', '고객응대']
//     },
//     {
//         title: '산업안전',
//         list: ['화제안전', '실내안전', '전기안전', '현장점검']
//     }
// ],
// selectKPI:[]


 new Vue({
     el: '#vapp',
     data:{},
     methods:{}
 });

</script>
