
<div>

            <!-- 타이틀 -->
            <div class="cardbox" style="margin:10px 0; padding:25px; ">
                <h2>
                    상세시간표
                    <small>
                        <button  class="ui button" @click.prevent="modal('loadTemplate')">템플릿 불러오기</button>
                    </small>
                </h2>
            </div>
            <!-- /타이틀 -->



            <!-- 컨텐츠 -->
            <!-- <h3>&nbsp;&nbsp;&nbsp;{{ selector+1 }}회차 정보</h3> -->
            <div class="cardbox" style="margin:0; padding:25px;">
                <h3>{{ selector+1 }}회차 정보</h3>
                <!-- <hr> -->
                <!-- 회차선택 -->
                <div class="ui form" style="font-size:1.05em;">
                    <div class="field">
                        <div class="ui selection dropdown">
                            <input type="hidden" name="gender">
                            <i class="dropdown icon"></i>
                            <div class="default text">회차를 선택해 주세요</div>
                            <div class="menu">
                                <div class="item "  v-for="(sc, i) in sessionDetail.sessionDetail" :key="i" v-on:click.prevent="selectCount(i)">{{ i+1 }}회 : {{ sc.start }} ~ {{ sc.end }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /회차선택 -->


                <table class="ui celled table form timetable">
                    <colgroup>
                        <col width="70%">
                        <col width="15%">
                        <col width="15%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>회차제목</th>
                            <th>시작시간</th>
                            <th>종료시간</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" placeholder="해당 회차의 제목을 입력해 주세요" v-model="timetables[selector].timetableTitle">
                            </td>
                            <td>
                                <input type="date" placeholder="시작시간" style="width:97%;">
                            </td>
                            <td>
                                <input type="date" placeholder="시작시간" style="width:97%;">
                            </td>
                        </tr>
                    </tbody>
                </table>





            </div>


            <!-- <h3>&nbsp;&nbsp;&nbsp;상세시간표</h3> -->
            <div class="cardbox" style="margin:10px 0; padding:25px;">
                <h3>상세시간표</h3>
                <!-- <hr> -->

                <!-- 차시가 있을때 -->
                <div v-if="viewFlag">

                    <div v-if=" timetables[selector].sessions=='' ">
                        <table class="ui table celled">
                            <tr>
                                <th >아직 등록된 시간표가 없습니다.</th>
                            </tr>
                        </table>
                    </div>


                    <!-- 시간표 템플릿 -->
                    <table class="ui celled table form timetable" v-for="(timetable, timetableIndex) in timetables[selector].sessions">
                        <colgroup>
                            <col width="40%">
                            <col width="15%">
                            <col width="15%">
                            <col width="10%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th style="border-left:1px solid #f2f2f2;">주제</th>
                                <th>시작시간</th>
                                <th>종료시간</th>
                                <th>시간</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="border-left:1px solid #f2f2f2;">{{ timetable.title }}</td>
                                <td>{{ timetable.start }}</td>
                                <td>{{ timetable.end }}</td>
                                <td>02시간 10분</td>
                            </tr>
                            <tr>
                                <td colspan="4" style="border-left:1px solid #f2f2f2;">
                                    <h4>강의모듈</h4>
                                    <p v-if="timetable.modules==undefined">생성된 강의모듈이 없습니다.</p>
                                    <ul v-else class="timetable-lectureModules">
                                        <li v-for="(module, moduleIndex) in timetable.modules" style="background:#f4f4f4; padding:8.5px;">
                                            <div class="ui right pointing blue basic label">{{ module.type }} </div>
                                            <span>{{ module.title }} &nbsp;&nbsp;</span>
                                            <a @click.prevent="updateModule(timetableIndex, moduleIndex)"> [수정] </a>
                                            <a href="#"> [삭제] </a>
                                            <p style="padding:6.5px; background:#fff; margin-top:5px;" v-if="module.content">{{module.content}}</p>
                                        </li>
                                    </ul>
                                    <button type="button" class="ui primary button addModule" @click.prevent="modal('lectureModule')">모듈추가</button>
                                    <button type="button" class="ui green button addModule" @click.prevent="modal('lectureUpdate')">주제수정</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <!-- 시간표 템플릿 -->



                    <!-- 시간표 템플릿 입력 폼 -->
                    <div>
                        <table class="ui celled table form timetable" style="border:1px solid #3781bf">
                            <colgroup>
                                <col width="40%">
                                <col width="15%">
                                <col width="15%">
                                <col width="10%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th style="border-left:1px solid #f2f2f2;"><label for="">주제</label></th>
                                    <th><label for="">시작시간</label></th>
                                    <th><label for="">종료시간</label></th>
                                    <th><label for="">시간</label></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td style="border-left:1px solid #f2f2f2;">
                                        <input type="text" placeholder="제목을 입력해 주세요" style="width:100%;" v-model="tempTable.title">
                                    </td>
                                    <td>
                                        <input type="date" placeholder="시작시간" style="width:97%;" v-model="tempTable.start">
                                    </td>
                                    <td>
                                        <input type="date" placeholder="종료시간" style="width:97%;" v-model="tempTable.end">
                                    </td>
                                    <td>02시간 10분</td>
                                </tr>

                                <tr>
                                    <td colspan="4" style="border-left:1px solid #f2f2f2;">
                                        <h4>강의모듈</h4>
                                        <p v-if=" tempTable.modules==undefined ">생성된 강의모듈이 없습니다.</p>
                                        <ul v-else class="timetable-lectureModules">
                                            <li v-for="module in tempTable.modules">
                                                <div class="ui right pointing blue basic label">{{ module.type }} </div>
                                                <span>{{ module.title }} &nbsp;&nbsp;</span>
                                                <a @click="alert(1)"> [내용보기] </a>
                                                <a @click="alert(1)"> [수정] </a>
                                                <a href="#"> [삭제] </a>
                                                <p style="padding:6.5px; background:#f3f3f3; margin-top:5px;" v-if="module.content">{{module.content}}</p>
                                            </li>
                                        </ul>
                                        <button type="button" class="ui primary button addModule" @click.prevent="modal('lectureModule')">모듈추가</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="4" style="border:none; padding:0;">
                                        <button type="button" class="ui primary medium button" style="width:100%;  border-radius:0 0 1px 1px;" @click.prevent="addSession">세션등록</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- 시간표 템플릿 입력 폼 -->

                </div>
                <!-- /차시가 있을때 -->


                <!-- 차시가 없을때 -->
                <div v-else>
                    <h1>asdkjlasjkd</h1>
                </div>



                <br><br><br>
            </div>


            <!-- 하단버튼그룹 -->
            <div class="cardbox" style="margin:10px 0; padding:25px; text-align:center;">
                <button class="ui button" @click.prevent="save">저장</button>
                <button class="ui primary button" onclick="move('/lectures/new/kpi')">다음페이지</button>
            </div>
            <!-- /하단버튼그룹 -->











<!-- 템플릿모달 -->
<modal-window class="loadTemplate" mtitle="시간표 템플릿">
    <div class="content">
        <%- include('../../../modules/searchForm')%>
        <table class="ui celled table">
              <thead>
                <tr>
                    <th>회차제목</th>
                    <th>강의시간</th>
                    <th>내용</th>
                    <th>선택</th>
                </tr>
              </thead>
              <tbody>
                    <tr>
                      <td>우리회사 감성안전 지킴이</td>
                      <td>00시간 00분</td>
                      <td>
                          <button class="ui button">상세보기</button>
                      </td>
                      <td><button class="ui button">불러오기</button></td>
                    </tr>
              </tbody>
        </table>
    </div>
    <div class="actions">
        <div class="ui black deny button">닫기</div>
        <div class="ui positive right labeled icon button">
            적용하기<i class="checkmark icon"></i>
        </div>
    </div>
</modal-window>




<!-- 모듈추가 모달 -->
<modal-window class="lectureModule" mtitle="강의모듈추가">
    <div class="content">

        <div class="ui form">
          <div class="inline fields">
            <label>강의유형</label>

            <div class="field">
              <div class="ui radio checkbox">
                <input id="rr1" type="radio" v-model="tempModule.type" value="debate" checked="checked">
                <label for="rr1">토론</label>
              </div>
            </div>

            <div class="field">
              <div class="ui radio checkbox">
                <input id="rr2" type="radio" v-model="tempModule.type" value="mission">
                <label for="rr2">미션</label>
              </div>
            </div>

            <div class="field">
              <div class="ui radio checkbox">
                <input id="rr3" type="radio" v-model="tempModule.type" value="lecture">
                <label for="rr3">강의</label>
              </div>
            </div>

          </div>
        </div>
        <br>
        <div class="ui form">
            <label for="">제목</label>
            <input type="text" placeholder="제목을 입력해 주세요" style="width:100%;" v-model="tempModule.title">
            <br>
            <br>
            <label for="">내용</label>
            <textarea  rows="6" placeholder="내용을 입력해 주세요" v-model="tempModule.content"></textarea>
        </div>

    </div>

    <div class="actions">
        <div class="ui black deny button">닫기</div>
        <div class="ui positive right labeled icon button">
            적용하기<i class="checkmark icon"></i>
        </div>
    </div>
</modal-window>



<!-- 모듈수정 모달 -->
<modal-window class="lectureModuleUpdate" mtitle="모듈수정">
    <div class="content">

        <div class="ui form">
          <div class="inline fields">
            <label>강의유형</label>

            <div class="field">
              <div class="ui radio checkbox">
                <input id="rr1" type="radio" v-model="tempModule.type" value="debate" checked="checked">
                <label for="rr1">토론</label>
              </div>
            </div>

            <div class="field">
              <div class="ui radio checkbox">
                <input id="rr2" type="radio" v-model="tempModule.type" value="mission">
                <label for="rr2">미션</label>
              </div>
            </div>

            <div class="field">
              <div class="ui radio checkbox">
                <input id="rr3" type="radio" v-model="tempModule.type" value="lecture">
                <label for="rr3">강의</label>
              </div>
            </div>

          </div>
        </div>
        <br>
        <div class="ui form">
            <label for="">제목</label>
            <input type="text" placeholder="제목을 입력해 주세요" style="width:100%;" v-model="tempModule.title">
            <br>
            <br>
            <label for="">내용</label>
            <textarea  rows="6" placeholder="내용을 입력해 주세요" v-model="tempModule.content"></textarea>
        </div>

    </div>

    <div class="actions">
        <div class="ui black deny button">닫기</div>
        <div class="ui positive right labeled icon button">
            적용하기<i class="checkmark icon"></i>
        </div>
    </div>
</modal-window>



<!-- 모듈추가 모달 -->
<modal-window class="lectureUpdate" mtitle="주제수정">
    <div class="content">

        <div class="ui form">
          <div class="inline fields">
            <label>강의유형</label>

            <div class="field">
              <div class="ui radio checkbox">
                <input id="rr1" type="radio" v-model="tempModule.type" value="debate" checked="checked">
                <label for="rr1">토론</label>
              </div>
            </div>

            <div class="field">
              <div class="ui radio checkbox">
                <input id="rr2" type="radio" v-model="tempModule.type" value="mission">
                <label for="rr2">미션</label>
              </div>
            </div>

            <div class="field">
              <div class="ui radio checkbox">
                <input id="rr3" type="radio" v-model="tempModule.type" value="lecture">
                <label for="rr3">강의</label>
              </div>
            </div>

          </div>
        </div>
        <br>
        <div class="ui form">
            <label for="">제목</label>
            <input type="text" placeholder="제목을 입력해 주세요" style="width:100%;" v-model="tempModule.title">
            <br>
            <br>
            <label for="">내용</label>
            <textarea  rows="6" placeholder="내용을 입력해 주세요" v-model="tempModule.content"></textarea>
        </div>

    </div>

    <div class="actions">
        <div class="ui black deny button">닫기</div>
        <div class="ui positive right labeled icon button">
            적용하기<i class="checkmark icon"></i>
        </div>
    </div>
</modal-window>








</div>
<!-- END -->


<script type="text/javascript">





        // Vue
        var vapp = new Vue({
            el: '#app',
            data: {
                viewFlag:false, //초기 뷰설정 플래그
                sessionCount:0,
                selector: 0, //현재 배열 번지
                sessionDetail: [],
                timetables:[], //메인 모델
                tempTable:{}, //추가 세션
                tempModule:{
                    type:'lecture', title:'', content:''
                } //추가 모듈
            },



            created() {
                // 세션스토리지의  APL Term 데이터 파싱
                let term = JSON.parse(sessionStorage.getItem('lecture-term'));
                let timetable = JSON.parse(sessionStorage.getItem('lecture-timetables'));

                // APL Term 작성 여부 확인
                if (term) {
                    this.sessionDetail = term;
                    this.timetables = term.sessionDetail;
                    if (timetable){
                        this.timetables = timetable;
                        console.log(this.timetables);
                    }

                }else{
                    alert('시간표 생성을 위해서 APL기간 설정이 필요합니다. 확인버튼을 누르면 APL기간설정 페이지로 이동합니다.');
                    move('/lectures/new/aplterm');
                }// if

            },// created()


            mounted(){
                // 시간표 플래그 ON
                this.viewFlag=true;
            },



            methods: {

                // 모달
                modal(cls) {
                    let fuc;
                    let options;

                    // 모달별 컨트롤러 설정
                    switch (cls) {
                        case 'loadTemplate':
                            options = vapp.loadTemplate;
                            break;
                        case 'lectureModule':
                            options = vapp.addModule;
                            break;

                        default:

                    }
                    onModal(cls, options);
                },// modal()



                // 세션추가 버튼
                addSession(){
                    this.timetables[this.selector].sessions.push(this.tempTable);
                    this.tempTable={};
                },



                // 템플릿 로드 - 모달
                loadTemplate(){
                        alert('loadTemplate');
                        return true;
                },


                // 모듈추가 - 모달
                addModule(){
                    if (this.tempModule.title =='' || this.tempModule.title==undefined) {
                        alert('모듈제목을 입력해 주세요');
                        return false;
                    }

                    // 배열이 없을경우 초기화
                    if(this.tempTable.modules===undefined){
                        this.tempTable.modules=new Array();
                    }
                    this.tempTable.modules.push(this.tempModule)
                    this.tempModule={
                        type:'lecture', title:'', content:''
                    };
                    return true;
                },


                // 모듈업데이트
                updateModule(tid, mid){
                    console.log(this.tempModule);
                    this.tempModule = this.timetables[this.selector].sessions[tid].modules[mid];

                    onModal('lectureModule', function() {
                        this.tempModule={
                            type:'lecture', title:'', content:''
                        };
                        console.log(this.tempModule);
                        return true;
                    });
                },


                // 회차 셀렉터
                selectCount(i){
                    this.selector = i;
                    if(this.timetables[i].sessions === undefined){
                        this.timetables.sessions =[];
                    }
                },


                // 저장
                save(){
                    console.log(this.timetables);
                    sessionStorage.setItem('lecture-timetables', JSON.stringify(this.timetables));
                }

            }// method()

        })//vapp

</script>
