<h1 class="ui header">2017년 3차 APL자격 취득 강사 양성교육</h1>
    <table class="ui celled table">
        <colgroup>
            <col width="12%;">
            <col width="38%;">

            <col width="12%;">
            <col width="38%;">
        </colgroup>
        <tbody>
            <tr>
                <td>강의기간</td>
                <td>2018년 01월05일 ~ 2018년 01월 08일</td>
                <td>시간</td>
                <td>매일 13:00~17:00</td>
            </tr>
            <tr>
                <td>장소</td>
                <td>부산광역시 남구 수영대로 99-1 부산본사</td>
                <td>정원</td>
                <td>55명</td>
            </tr>
        </tbody>
    </table>
<!-- <hr> -->

<div class="ui top attached tabular menu">
  <a class="item active" data-tab="first">강의내용</a>
  <a class="item " data-tab="second">차시정보</a>
  <a class="item" data-tab="third">댓글</a>
</div>


<div class="ui bottom attached tab segment active" data-tab="first">
    <h4>강의내용</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <br>
    <h4>수강요건</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    <br>
                            <h4>오시는길</h4>
</div>
<div class="ui bottom attached tab segment " data-tab="second">
    <label>차시</label>
    <select class="ui fluid dropdown">
        <option value="">State</option>
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
    </select>
    <div class="sessionContent" style="margin-top:25px;">
        <h4>1회차 <small>2017년 01월 05일</small></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <hr>
        <h4>2회차 <small>2017년 02월 05일</small></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>
<div class="ui bottom attached tab segment" data-tab="third">
  댓글
</div>



<script type="text/javascript">
    $('.menu .item')
      .tab()
    ;
</script>
