<div id="content" class="thirteen wide column">
    <h1>신규 강의개설</h1>


        <form name="new">
            <div class="cardbox" style="margin:0; padding:25px;">

                <table class="ui form centerLayout">
                    <colgroup>
                        <col width="11.5%">
                        <col width="88.5%">
                    </colgroup>
                    <tr>
                        <td>강의명</td>
                        <td style="padding: 7px 0;"><input type="text" id="name" name="rec_title" placeholder="제목을 입력해 주세요" style="width:85%;"></td>
                    </tr>
                    <tr>
                        <td>강의기간</td>
                        <td style="padding: 7px 0;">
                            <input type="date" id="date1" name="rec_date1" style="width:25%;">
                            <input type="date" id="date2" name="rec_date2" style="width:25%;">
                        </td>
                    </tr>
                    <tr>
                        <td>강의시간</td>
                        <td style="padding: 7px 0;"><input type="text" placeholder="3일 12H / 매일 13:00~17:00" style="width:85%;" name="rec_time"></td>
                    </tr>


                    <tr>
                        <td>장소</td>
                        <td style="padding: 7px 0;"><input type="text" placeholder="" name="rec_location" style="width:85%;"></td>
                    </tr>

                    <tr>
                        <td>정원</td>
                        <td style="padding: 7px 0;"><input type="number" id="apl_count" value="1" style="width:15%;" name="rec_count"></td>
                    </tr>

                    <tr>
                        <td>수강비용</td>
                        <td style="padding: 7px 0;">
                            <input type="text" name="rec_price" value="2,500,000원" style="width:20%;">
                        </td>
                    </tr>

                    <tr>
                        <td>수강요건</td>
                        <td style="padding: 7px 0;"><textarea style="width:85%;" name="rec_spec" rows="6" placeholder="내용을 입력해 주세요"></textarea><br><button type="file" name="button">첨부파일</button></td>
                    </tr>

                    <tr>
                        <td>내용</td>
                        <td style="padding: 7px 0;"><textarea style="width:85%;" name="rec_content" rows="6" placeholder="내용을 입력해 주세요"></textarea><br><button type="file" name="button">첨부파일</button>
                        </td>
                    </tr>

                    <tr>
                        <td>기타(오시는길 등)</td>
                        <td style="padding: 7px 0;"><textarea style="width:85%;" name="rec_etc" rows="6" placeholder="내용을 입력해 주세요"></textarea><br><button type="file" name="button">첨부파일</button></td>
                    </tr>
                </table>


            </div>

            <div class="cardbox" style="margin:10px 0; padding:25px; text-align:center;">
                <button class="ui button" onclick="history.back(-1);">취소</button>
                <button type="submit" class="ui primary button in">등록</button>
            </div>
            </form>
</div>
        <!-- content -->




<script type="text/javascript">
var dt = new Date('8/24/2015');
var dt2 = new Date('9/24/2015');
// alert(dt2);

    var apl = {};
    // $(function() {

        // 제목

        // 강의기간
        $('#apl_date1').on('change', function() {
            // alert(typeof($(this).val()));
        })
        $('#apl_date2').on('change', function() {
            // alert($(this).val() - $('#apl_date1').val());
        })
        // 강의시간


        // 정원체크
        $('#apl_count').on('change', function() {
            if($(this).val() <= 0){
                alert("최소 1명 이상의 수강생이 필요합니다.");
                $(this).val(1);
            }
        })


        $('form').on('submit', function(e) {
            e.preventDefault();

            var d = $(this).serialize();

            $.ajax({
                type: 'post',
                url: '/manager/aplectures/new',
                data:d,
                success: function(resp) {
                    console.log(resp);
                }
            });
        })

    // });
</script>
