<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>플랜치</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/mobile/calendar.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" type="text/css" href="/stylesheets/mobile/tutor.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/semantic/semantic.min.js"></script>
  </head>

<style type="text/css">
html, body{
    width: 100%;
    height:100%;
    padding: 0;
    margin:0;
    background-color: #f9f9f9;
}

.cardbox{
    background: #fff !important;
    margin:5px !important;
    padding:10px !important;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.03) !important;
    border:1px solid #f3f3f3;
}
.tabmenu .active{
    color:#6B9900 !important;
}
#tl{
    border-bottom: 2px solid #f1f1f1;
    overflow: scroll;
    scrollbar-face-color: #b46868;
}
#tl::-webkit-scrollbar {
      width: 3px;
      height: 2px;
}
#tl .item{
    border-radius: 0;
    margin:0;
    color:#c2c2c2;
}
#tl .active{
    color:#6B9900;
    background-color: #fff !important;
    border-bottom:2px solid #6B9900;
}
</style>

<body>

    <%- include('modules/sidebar')%>


<!-- Page Contents -->
<div class="pusher">


    <div class="" style="width:80%;  margin:25px auto;">
        <h1>LOGO</h1>
    </div>

    <div class="" style="width:80%; max-width:650px; margin:0 auto;">
        <form class="ui form">

          <div class="field">
            <label>휴대폰 번호</label>
            <input type="text" name="first-name" placeholder="하이픈(-)은 빼고 입력해 주세요" ><br>
            <button class="ui button basic" type="submit" style="width:100%;">인증번호 요청</button>
          </div>

          <br>
          <br>

          <div class="field">
            <label>휴대폰 번호</label>
            <input type="text" name="first-name" style="width:10%;">
            <input type="text" name="first-name" style="width:10%;">
            <input type="text" name="first-name" style="width:10%;">
            <input type="text" name="first-name" style="width:10%;">
            <input type="text" name="first-name" style="width:10%;">
            <input type="text" name="first-name" style="width:10%;">
            <button class="ui button blue" type="submit" style="width:30%; margin-left:5%;">인증</button>
          </div>



        </form>
    </div>

    <div class="" style="width:80%; margin:0 auto; position:absolute; bottom:0; left:10%;">
        <button class="ui button basic" type="submit" style=" position:absolute; bottom:15px; left:0px;"><i class="icon chevron left"></i> 취소</button>
        <a href="/m/user/join_add" style="color:#fff;"><button class="ui button blue" type="submit" style=" position:absolute; bottom:15px; right:0px;">다음 <i class="icon chevron right"></i></button></a> 
    </div>



</div>








<!-- Global site tag (gtag.js) - Google Analytics -->

    <script type="text/javascript">


    $(document).ready(function() {


    });

    function move(u) {
        console.log(111);
        // document.location.href=u;
    }


    </script>



</body>
</html>
