
<div class="ui vertical segment center aligned">
    <div class="ui vertical stripe segment">
      <div class="ui text container">
        <h1 class="ui  header">
          SPREAD THE LOVE
        </h1>
        <h2>Let's turn our world into a happier place, by sending positive energy to other people</h2>
        <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
      </div>
    </div>
</div>



<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
      <h1><i class="heartbeat icon big"></i></h1>
      <h3>HEALTHY</h3>
      <p>Help yourself and your friends to be more healthy</p>
    </div>
      <div class="column">
      <h1><i class="users icon big"></i></h1>
      <h3>POSITIVE</h3>
      <p>Let's help the world to change from negative to positive thinking</p>
    </div>
      <div class="column">
      <h1><i class="birthday icon big"></i></h1>
      <h3>EASY</h3>
      <p>Sending good energy is a piece of cake</p>
    </div>
     </div>
   </div>
 </div>
