<%- include('modules/tabmenu')%>

<div  style="padding:5%;">
    <h4 style="color:#00addf;">2017년 11월 23일</h4>
    <h3>1차강의 - 우리회사 감성안전 지킴이</h3>
    <p>
        <b>시간: </b> 09:00 ~ 18:00 [08시간 00분]
        <br>
        <b>대상: </b> (주)아카스타 [35명]
        <br>
        <b>기간: </b> 2017.01.01 ~ 2017.02.01 [12시간 / 3일]
        <br>
        <b>장소: </b> 부산광역시 남구 수영대로 99 [액플런 본사]
    </p>
    <p>
        <a href="/m/tutor/schedule/detail"> <button type="button" class="ui basic button" style="width:100%;"><i class="bar chart icon"></i>상세보기</button></a>
    </p>
</div>
<%- include('schedule/schedule_m')%>
