<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/semantic/semantic.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="/semantic/semantic.min.js"></script>
  </head>

<style media="screen">
html, body{
    width: 100%;
    height:100%;
    background-color: #f9f9f9;

}
#wrap{
    padding:0 0 10px 0;
    background-image: url('/images/newbg.png');
    background-size: cover;
    background-position: center center;
    /*height: 55%;*/
}
#mcon{
    width: 100%;
    min-width: 900px;
    margin:0 auto;
    padding:0;
    /*height: 100%;*/
}
    .sloganWrap{
        color:#fff;
        width: 70%;
        margin:0 auto;
        padding:3% 5%;
    }
    .sch{
        width:100%; padding:15px;
        background: rgba(255,255,255,0.07);
        border:1px solid #fff;
        color: #fff;

    }
</style>

  <body >

    <div id="wrap" class="ui grid">


        <!-- <div id="navi" class="sixteen wide column " style="background:rgba(0,0,0,0.44);"> -->
        <div id="navi" class="sixteen wide column " style="background:none; padding: 10px 40px;">
            <h1 id="logo" onclick="move('/home')">Acplearn</h1>

            <%- include('modules/homeNavi')%>
        </div>


    </div>
    <!--  -->
    <div id="vapp" class="ui grid">



        <!-- Wrap -->
        <div class="ten wide column centered">

            <%- include('modules/home_aplectures_status')%>


        <div id="content" class="thirteen wide column">


            <form name="new">

                <div class="cardbox" style="margin:0; padding:25px;">
                    <h3>강의정보</h3>
                    <table class="ui celled table">
                        <colgroup>
                            <col width="15%;">
                            <col width="35%;">

                            <col width="15%;">
                            <col width="35%;">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td>강의기간</td>
                                <td>{{ lecture.rec_date1 }} ~ {{ lecture.rec_date2 }}</td>
                                <td>시간</td>
                                <td>{{ lecture.rec_time }}</td>
                            </tr>
                            <tr>
                                <td>결제금액</td>
                                <td>{{ lecture.rec_price }}원</td>
                                <td>정원</td>
                                <td>{{ lecture.rec_count }}명 (신청가능)</td>
                            </tr>
                            <tr>
                                <td>장소</td>
                                <td colspan="3">{{ lecture.rec_location }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <br>


                <div class="cardbox" style="margin:0; padding:25px;">
                    <h3>결제정보</h3>
                    <hr>
                    <br>

                    <label for="">결제금액</label>
                    <h1>400,000원</h1>
                    <hr>
                    <br>

                    <label for="">결제방법 선택</label>
                    <select class="ui fluid dropdown">
                        <option value="">결제방법을 선택해 주세요</option>
                        <option value="AL">무통장 입금</option>
                        <option value="AK">실시간 계좌이체</option>
                        <option value="AZ">Toss</option>
                        <option value="AR">신용카드</option>
                    </select>

                </div>
                <br>




                <br>
                <div class="cardbox" style="margin:0; padding:25px;">
                    <h4>결제정보 및 보안관련 이용약관</h4>
                    <p style="border:1px solid #f1f1f1; padding: 15px; height: 150px; overflow:scroll;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <div class="ui checkbox">
                      <input type="checkbox" name="agr" id="agr" tabindex="0" class="hidden">
                      <label for="agr">수강정보를 확인했으며 개인정보 이용약관에 동의합니다.</label>
                    </div>
                </div>


                <br>
                <div class="cardbox" style="margin:10px 0; padding:25px; text-align:center;">
                    <button class="ui button large" onclick="history.back(-1);">취소</button>
                    <button class="ui primary button in large" type="button" v-on:click.prevent="save">결제</button>
                </div>
            </form>
        </div>





        </div>
        <!-- /Wrap -->


    </div>


    <!-- json import -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
    <!-- vue.js -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.min.js"></script>

    <script type="text/javascript">
        $('.menu .item').tab();

        $(document).ready(function() {
                $('.tooltip').popup();
        });
        $(document).ready(function () {
            $('.dropdown').dropdown({maxSelections: 3});
            $('.tooltip').popup();
        });

        function move(ur) {
            document.location.href=ur;
        }




// Vue
    // dummyDataBinding = new Vue({
        new Vue({
        	el: '#vapp',
        	data: {
        		lecture: {},
                tutor:{},
                thisTab:'f01',
        		errors: []
        	},

        	// Fetches lecture when the component is created.
        	created: function () {
                axios.all([
                    axios.get('/api/aplectures/1'),
                    axios.get('/users/session')
                ])
                .then(function(resp){
                    console.log(resp[1].data);
                    // console.log(resp.data.data);
        			this.lecture = resp[0].data.data;
        			this.tutor = resp[1].data.admin.user;
        		}
                .bind(this))
        		.catch(function(e) {
        			this.errors.push(e)
        		});
        		// console.log(this.lecture)
        	},
        	computed: {
        		reverse: function() {
        			return this.lecture.reverse();
        		},

        		orderedUsers: function () {
        			return _.orderBy(this.lecture, 'first_name')
        		}
        	},
        	methods: {
                cc() {
                    alert(1);
                },
                save(){
                    // alert(1);
                    var url = '/api/aplectures/application/'+this.lecture.rec_idx;
                    axios.get(url).then((resp)=>{
                        // console.log(resp);
                        if (resp.status !== 200) {
                            alert('사소한 문제가 발생했습니다. 다시 시도해 주세요 :(');
                            return;
                        }
                        location.href="/aplectures/payment/"+this.lecture.rec_idx;
                    });
                }
        	}
        });




    </script>



  </body>
</html>
