<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/semantic/semantic.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="/semantic/semantic.js"></script>

  </head>

<style media="screen">
    html, body{
        width: 100%;
        height:100%;
        background-color: #f8f8f8;
    }





</style>

  <body>


    <div id="app" class="ui grid">

        <div class="seven wide column centered" style="height:470px; margin-top:15px;">
            <h1 class="centered" style="text-align:center; font-size:2.75em; margin-bottom:10px;">Acplean</h1>
        <div class="cardbox" style=" margin-top:55px; margin:0;">

            <form class="ui form">
              <div class="field">
                  <label for="">아이디</label>
                  <input id="usr_id" type="text" name="usr_id" placeholder="아이디를 입력해 주세요" style="width:77%;">
                  <button type="button" class="ui basic button idConfirm">중복확인</button>
                  <br>
                  <p class="green" style="font-size:0.75em; color: #a1a1a1;"> 아이디는 6자리 이상 영문 또는 영문+숫자 형태로 사용가능합니다.</p>
              </div>
              <div class="field">
                  <label for="">패스워드</label>
                  <input id="usr_pw" type="password" name="last-name" placeholder="패스워드를 입력해 주세요" >
              </div>
              <div class="field">
                  <input id="usr_pw_confirm" type="password" name="last-name" placeholder="패스워드를 한번 더 입력해 주세요">
              </div>
              <div class="field">
                  <label for="">이름</label>
                  <input id="usr_name" type="text" name="last-name" placeholder="이름을 입력해 주세요">
              </div>
              <div class="field">
                  <label for="">연락처</label>
                  <input id="usr_phone" type="text" name="last-name" placeholder="010-0000-0000">
              </div>
              <div class="field">
                  <label for="">성별</label>
                  <input type="radio" name="gender" value="M">&nbsp;남자&nbsp;&nbsp;
                  <input type="radio" name="gender" value="F">&nbsp;여자
              </div>
              <!-- <div class="field">
                  <label for="">생년월일</label>
                  <input id="usr_date" type="date" >
              </div>
              <div class="field">
                  <label for="">강의분야</label>
                  <input id="usr_category" type="text" placeholder="리더십/ 산업안전/ 조직활성화 등">
              </div>
              <div class="field">
                  <label for="">주요경력/자격</label>
                  <textarea id="usr_career" name="name" rows="4" cols="80"></textarea>
              </div>
              <div class="field">
                  <label for="">강사소개서/프로필</label>
                  <input id="usr_profile" type="file">
              </div>
              <div class="field">
                  <label for="">프로필 이미지</label>
                  <input id="usr_profile_img" type="file">
              </div> -->

              <button class="ui button" style="width:49%;" type="submit">취소</button>
              <!-- <button class="ui button primary" onclick="document.location.href='/login'" style="width:49%;" type="button">가입</button> -->
              <button class="ui button primary sbm" style="width:49%;" type="button">가입</button>
            </form>
        </div>
        </div>

    </div>


    <script type="text/javascript">
        var usr={};
        var idConfirm=false;
        var pwConfirm=false;
        var phoneConfirm=false;
        var re={
            id: /^[a-z0-9_-]{3,16}$/,
            pw: /^[a-z0-9_-]{6,18}$/
        }

        $(document).on('click', '.idConfirm', function() {
            var $id = $('#usr_id');
            if (!re.id.test($id.val()) || $id.val()==undefined || $id.val()=='') {
                alert("사용할 수 없는 아이디입니다.");
                $id.css({"border-color":"red", "color":"red"});
                return;
            }
            $.ajax({
                type:"get",
                url: "/users/confirm/"+$id.val(),
                success: function(resp) {
                    console.log(resp);
                    if (resp.result === 200) {
                        alert('중복되는 아이디가 있습니다.');
                        $id.css({"border-color":"red", "color":"red"});
                        return;
                    }
                    alert("사용하실 수 있는 아이디입니다.");
                    idConfirm=true;
                    $id.css({"border-color":"green", "color":"green"});
                }
            });
        });


        $(document).on('click', '.sbm', function() {
            usr.id=$('#usr_id').val();
            usr.pw=$('#usr_pw').val();
            usr.name=$('#usr_name').val();
            usr.phone=$('#usr_phone').val();
            usr.gender=$('input[name="gender"]').val();
            // usr.date=$('#usr_date').val();
            // usr.category=$('#usr_category').val();
            // usr.career=$('#usr_career').val();

            if (
                (re.id.test(usr.id)==false || usr.id=='') ||
                (re.pw.test(usr.pw)==false || usr.pw=='') ||
                (usr.name==undefined || usr.name=='') ||
                (usr.phone==undefined || usr.phone=='') ||
                (usr.gender==undefined || usr.gender=='')
            ) {
                alert("모든 항목을 기재해 주세요");
                return;
            }
            else if (!idConfirm || !pwConfirm) {
                alert('유효하지 않은 항목이 존재합니다.');
                return;
            }

            $.ajax({
                type: "post",
                url: "/users/new",
                data: usr,
                success: function(resp) {
                    if (resp.result==="Success") {
                        location.href="/login";
                    }else{
                        alert("오류가 발생했습니다. 잠시 후 다시 시도해 주세요");
                    }
                }
            });

            console.log(usr);
            return false;
        })


        $('#usr_pw').keyup( function(){
            var val = $(this).val();
            console.log(val);
            if(re.pw.test(val)==false){
                 $(this).css({"border-color":"red", "color":"red"});
             }else{
                 $(this).css({"border-color":"green", "color":"green"});
             }
        });
        $('#usr_pw_confirm').keyup( function(){
            var val = $(this).val();
            var dval = $('#usr_pw').val();
            console.log(val);
            if(re.pw.test(val)==false || dval != val){
                 $(this).css({"border-color":"red", "color":"red"});
             }else{
                 $(this).css({"border-color":"green", "color":"green"});
                 pwConfirm=true;
             }
        });
    </script>


  </body>
</html>
