<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/semantic/semantic.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="/semantic/semantic.js"></script>

  </head>

<style media="screen">
    html, body{
        width: 100%;
        height:100%;
        background-color: #f8f8f8;
    }





</style>

  <body>


    <div id="app" class="ui grid">

        <div class="seven wide column centered" style="height:470px; margin-top:15px;">
            <h1 class="centered" style="text-align:center; font-size:2.75em; margin-bottom:10px;">Acplean</h1>
        <div class="cardbox" style=" margin-top:55px; margin:0;">

            <form class="ui form">
              <div class="field">
                  <h4>이용약관(동의)</h4>
                  <div class="" style="width:100%; height:100px; overflow:scroll; background:#f2f2f2;">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                  </div>
                  <span><input class="agree" type="checkbox" name="" value=""><label for="">동의합니다</label></span>

                  <br>

                  <h4>개인정보 수집 및 이용안내(필수)</h4>
                  <div class="" style="width:100%; height:100px; overflow:scroll; background:#f2f2f2;">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
                  <span><input class="agree" type="checkbox" name="" value=""><label for="">동의합니다</label></span>
                  <br>

                  <h4>이벤트/프로모션 수신(선택)</h4>
                  <div class="" style="width:100%; height:100px; overflow:scroll; background:#f2f2f2;">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
                  <span><input class="agree" type="checkbox" name="" value=""><label for="">동의합니다</label></span>
              </div>

              <br>
              <br>
              <button class="ui button" style="width:49%;" type="submit">취소</button>
              <button class="ui button primary next" style="width:49%;" type="button">다음</button>
            </form>
        </div>
        </div>

    </div>

    <script type="text/javascript">
        var agreeStatus = 0;
        $(document).on('click', '.agree', function() {
            var st = $(this).is(':checked');
            if (st) {
                agreeStatus++;
            }else{
                agreeStatus--;
            }
        });

        $(document).on('click', '.next', function() {
            agreeStatus<3 ? alert('동의하지 않은 항목이 있습니다.') : location.href='/join';
        });
    </script>



  </body>
</html>
