

<h1 class="ui header">대시보드</h1>

<div class="ui grid">

<div class="ten wide column cardbox">
    <h3>공지사항</h3>
    <hr>
    <table class="ui very basic table">
      <thead>
        <tr>
          <th>제목</th>
          <th>등록일</th>
        </tr>
      </thead>
      <tbody>
          <% for(var ii=0; ii<4; ii++){ %>
        <tr>
          <td>전산작업으로 인한 서비스 일시 중단 안내</td>
          <td>2017-09-09</td>
        </tr>
        <% }%>
      </tbody>
    </table>
</div>





<div class="cardbox five wide column" style="overflow: hidden;">
    <h3>APL TUTOR</h3>
    <hr>

    <div class="">
        <table class="ui very basic table">
          <thead>
            <tr>
              <th class="center aligned">자격 취득일</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="center aligned"><h4>2017년 12월 25일</h4></td>
            </tr>
            <tr>
          </tbody>
        </table>
    </div>
    <div class="" style="margin-top:30px; padding:15px; text-align:center;">
        <button class="ui button">강의관리</button>
        <button class="ui primary button" onclick="move('/lectures/new/summary')">강의개설</button>
    </div>
</div>
<!-- <div class="five wide column cardbox">
    <h4>프로필</h4>
    <hr>
    <table>
        <colgroup>
            <col width="25%">
        </colgroup>
        <tr>
            <td rowspan="2"><img class="ui image" width="95%" src="https://semantic-ui.com/images/avatar/large/steve.jpg"></td>
            <td><h3>박길동</h3></td>
        </tr>
        <tr>
            <td>Lorem ipsum dolor sit amet</td>
        </tr>
    </table>
    <div class="">

    </div>
</div> -->













</div>
