<!DOCTYPE html>
<html>
  <head>
    <title>Admin mode</title>
    <link rel='stylesheet' href='/stylesheets/manager_style.css' />
    <link rel="stylesheet" type="text/css" href="/semantic/semantic.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="/semantic/semantic.min.js"></script>
  </head>

    <style media="screen">
    html, body{
        width: 100%;
        height:100%;
        background-color: #f9f9f9;
    }
    .selectable{
        cursor: pointer;
    }
    </style>

  <body>


    <div id="app" class="ui grid">


        <div id="navi" class="sixteen wide column ">
            <h1 id="logo" onclick="move('/')">Acplearn</h1>
            <!-- <p>Sign in</p>
            <p>Sign in /</p> -->
            <ul class="rightMenu">
                <li><a href="/manager/notices">공지사항</a></li>
                <li><a href="/manager/aplectures">APL강좌</a></li>
                <li><a href="/manager/completes">수료관리</a></li>
                <li><a href="/manager/tutors">강사관리</a></li>
                <li><a href="/manager/admins">관리자현황</a></li>
                <li><a href="/manager/activity">APL_Activity</a></li>
                <li>
                    <a href="#" class="ui dropdown"><i class="user circle icon"></i><i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item">내정보</div>
                        <div class="item" onclick="move('/login')">로그아웃</div>
                        <div class="item" style="border-top:1px solid #f2f2f2;" onclick="move('/')">강사모드</div>
                      </div>
                    </a>
                </li>
            </ul>
        </div>



            <%- content %>



    </div>




    <script type="text/javascript">

    $(document).ready(function () {
        $('.dropdown').dropdown({maxSelections: 3});
    })

    function move(ur) {
        document.location.href=ur;
    }

    </script>



  </body>
</html>
