<div id="tl" class="ui secondary menu">
  <a class="active item">
    <p><b>1차</b><br>2017.12.25</p>
  </a>
  <a class="item">
    <p><b>2차</b><br>2017.12.25</p>
  </a>
  <a class="item">
    <p><b>3차</b><br>2017.12.25</p>
  </a>
  <a class="item">
    <p><b>4차</b><br>2017.12.25</p>
  </a>
  <a class="item">
    <p><b>5차</b><br>2017.12.25</p>
  </a>
</div>

<h4>1차시 - 안전이 우리사회에 미치는 영향</h4>
<% for(var ii=1; ii<=3; ii++){ %>
<table class="ui unstackable table celled" style="padding:0; font-size:0.8em;">
    <colgroup>
        <col width="12%"><col width="12%">
    </colgroup>
    <tr>
        <td colspan="2">주제</td>
        <td>안전과 우리사회의 관계</td>
    </tr>
    <tr>
        <td colspan="2">시간</td>
        <td>09:00 ~ 12:00 [3시간]</td>
    </tr>
    <tr>
        <td rowspan="3">강의</td>
        <td>강의</td>
        <td class="">
            <p> 산업안전이 미치는 영향</p>
            <div style="float:left; width:45%; margin-right:5%;">
                <span class="title"><i class="icon user circle"></i> 박길동 <small>09:21</small> </span><br>
                <img src="/images/cmm03.jpg" width="99%" alt="">
            </div>
            <div style="float:left; width:45%; margin-right:5%;">
                <span class="title"><i class="icon user circle"></i> 박길동 <small>09:21</small> </span><br>
                <img src="/images/cmm03.jpg" width="99%" alt="">
            </div>
            <div style="float:left; width:45%; margin-right:5%;">
                <span class="title"><i class="icon user circle"></i> 박길동 <small>09:21</small> </span><br>
                <img src="/images/cmm03.jpg" width="99%" alt="">
            </div>
        </td>
    </tr>
    <tr>
        <td>토론</td>
        <td>주위에서 일어날 수 있는 사례</td>
    </tr>
    <tr>
        <td>미션</td>
        <td>안전규칙 설계</td>
    </tr>
    <tr>
        <td colspan="2">피드백</td>
        <td>
            <div class="ui list">
              <div class="item">
                <img class="ui avatar image" src="https://semantic-ui.com/images/avatar2/small/rachel.png">
                <div class="content">
                  <a class="header">Rachel</a>
                  <div class="description">Last seen watching<br><small>10 hours ago.</small></div>
                </div>
              </div>
              <div class="item">
                <img class="ui avatar image" src="https://semantic-ui.com/images/avatar2/small/lindsay.png">
                <div class="content">
                  <a class="header">Lindsay</a>
                  <div class="description">Last seen watching<br><small>10 hours ago.</small></div>
                </div>
              </div>
            </div>
        </td>
    </tr>
</table>
<% } %>


<%- include('../../modules/mobile_bottom_btn')%>
