
<form class="ui form">

  <div class="field">
    <label>1. 본 교육에 대한 전반적인 만족도는 어떻습니까?</label>
    <div class="inline fields">
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="fruit" checked="" tabindex="0" class="hidden">
        <label>매우아니다</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="fruit" tabindex="0" class="hidden">
        <label>아니다</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="fruit" tabindex="0" class="hidden">
        <label>보통이다</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="fruit" tabindex="0" class="hidden">
        <label>그렇다</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="fruit" tabindex="0" class="hidden">
        <label>매우그렇다</label>
      </div>
    </div>
  </div>
  </div>
  <br>


  <div class="field">
    <label>2. 본 교육에 대한 전반적인 만족도는 어떻습니까?</label>
    <div class="inline fields">
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="fruit" checked="" tabindex="0" class="hidden">
        <label>매우아니다</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="fruit" tabindex="0" class="hidden">
        <label>아니다</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="fruit" tabindex="0" class="hidden">
        <label>보통이다</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="fruit" tabindex="0" class="hidden">
        <label>그렇다</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="fruit" tabindex="0" class="hidden">
        <label>매우그렇다</label>
      </div>
    </div>
  </div>
  </div>
  <br>

  <div class="field">
    <label>3. 본 교육에 개선사항이 있으신가요?</label>
    <input type="text" name="first-name" placeholder="내용을 입력해 주세요" >
  </div>


<br>
<hr>
<br>
 <div class="">
     <button type="button" class="ui basic button" style="width:100%;" onclick="confirm('위 답변을 제출하시겠습니까?')">제출</button>
 </div>


</form>




<!--  -->
