<form class="ui form" style="">

<div id="tl" class="ui secondary menu">
  <a class="active item">
    <p><b>1차</b><br>2017.12.25</p>
  </a>
  <a class="item">
    <p><b>2차</b><br>2017.12.25</p>
  </a>
  <a class="item">
    <p><b>3차</b><br>2017.12.25</p>
  </a>
</div>

  <div class="field">
    <label>Action KPI [리더십]</label>
    <input type="text" name="first-name" placeholder="플랜을 입력해 주세요"  style="width:85%;">
    <button type="button" class="ui  button" style="width:10.5%;" onclick="confirm('해당 플랜을 삭제하시겠습니까?')"> X </button>
    <br>
    <p>
        플랜에 대한 현재 점수는? <span class="ui star rating st" data-rating="3"></span>
    </p>
  </div>

<br>
  <div class="field">
    <label>Action KPI [CS]</label>
    <input type="text" name="first-name" placeholder="플랜을 입력해 주세요"  style="width:85%;">
    <button type="button" class="ui  button" style="width:10.5%;" onclick="confirm('해당 플랜을 삭제하시겠습니까?')"> X </button>
    <br>
    <p>
        플랜에 대한 현재 점수는? <span class="ui star rating st" data-rating="3"></span>
    </p>
  </div>

<br>
  <div class="field">
    <label>Action KPI [산업안전]</label>
    <input type="text" name="first-name" placeholder="플랜을 입력해 주세요"  style="width:85%;">
    <button type="button" class="ui  button" style="width:10.5%;" onclick="confirm('해당 플랜을 삭제하시겠습니까?')"> X </button>
    <br>
    <p>
        플랜에 대한 현재 점수는? <span class="ui star rating st" data-rating="3"></span>
    </p>
  </div>




  <br>
  <div class="">
      <button type="button" class="ui basic button" style="width:100%;" >완료</button>
  </div>



</form>
