

<div id="tl" class="ui secondary menu">
  <a class="active item">
    <p><b>1차</b><br>2017.12.25</p>
  </a>
  <a class="item">
    <p><b>2차</b><br>2017.12.25</p>
  </a>
  <a class="item">
    <p><b>3차</b><br>2017.12.25</p>
  </a>
</div>
<h5>액션러닝 기간:  2017.12.25 ~ 2018.01.25</h5>
<p>
    <div class="ui toggle checkbox">
        <input type="checkbox" name="gift" tabindex="0" class="hidden" checked><label>상세</label>
      </div>
</p>



<div class="ui top attached tabular menu">
  <a class="active item" data-tab="first">전체</a>
  <a class="item" data-tab="second">조별</a>
</div>

<div class="ui bottom attached active tab segment" data-tab="first">
  <div class="">
      <label for="">Action KPI</label>
      <select class="" name="">
          <option value="">리더십</option>
          <option value="">산업안전</option>
          <option value="">커뮤니케이션</option>
      </select>
  </div>

  <div id="container3" style="min-width: 210px; width:100%; height: 230px; margin: 0 auto"></div>

  <table class="ui table celled unstackable">
      <colgroup>
          <col width="10%">
          <col width="13.33%">
          <col width="13.33%">
          <col width="13.33%">
          <col width="13.33%">
          <col width="13.33%">
          <col width="13.33%">
          <col width="10%">
      </colgroup>
      <tbody>
      <tr>
          <td class="center aligned">자기평가</td>
          <td class="center aligned">1.5</td>
          <td class="center aligned">3.5</td>
          <td class="center aligned">1.5</td>
          <td class="center aligned">4</td>
          <td class="center aligned">4</td>
          <td class="center aligned">1.5</td>
          <td class="center aligned">-</td>
      </tr>
      <tr>
          <td class="center aligned">GAP</td>
          <td class="center aligned">-</td>
          <td class="center aligned">+1</td>
          <td class="center aligned">0</td>
          <td class="center aligned">0</td>
          <td class="center aligned">+1.5</td>
          <td class="center aligned">+1.5</td>
          <td class="center aligned">-</td>
      </tr>
      <tr>
          <td class="center aligned">팀원평가</td>
          <td class="center aligned">-</td>
          <td class="center aligned">4.5</td>
          <td class="center aligned">1.5</td>
          <td class="center aligned">4</td>
          <td class="center aligned">2.5</td>
          <td class="center aligned">2.5</td>
          <td class="center aligned">-</td>
      </tr>
      </tbody>
  </table>
</div>

<div class="ui bottom attached tab segment" data-tab="second">
  Second
</div>




<!--  -->
