<%- include('../modules/tabmenu')%>


<div class="ui vertical stripe quote segment" >
    <div class="left aligned row" style="font-size:70%; padding:10px 3px; ">


        <% for(var ii=1; ii<=6; ii++){  %>
        <div class=" cardbox" onclick="location.href='/m/user/training/detail'" style="cursor:pointer;">
            <h4>
                <% if(ii%2!=0){ %>
                    <div class="ui right pointing red basic label tiny" >종료</div>
                <% }else{ %>
                    <div class="ui right pointing green basic label tiny" >진행</div>
                <% } %>
                우리회사 감성안전 지킴이
            </h4>
            <p>인원: 35명</p>
            <p>기간: [1회차] 2017.01.01~2017.01.05 / 12시간(3일)</p>
            <p>장소: 부산광역시 남구 수영대로 88 액플런 부산본사 대강당</p>

            <div class="ui list">

              <div class="item">
                <!-- <label for="">참여율</label> -->
                <div class="content">
                  <div class="ui progress standard">
                    <div class="bar" style="width:<%=ii%2!=0? '100%;' : '72%;' %>">
                      <div class="progress"><%=ii%2!=0? '100%' : '72%' %></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <p>
                <b>다짐글: </b>50
                &nbsp;&nbsp;&nbsp;
                <b>평가글: </b>50
                &nbsp;&nbsp;&nbsp;
                <b>응원글: </b>50
                &nbsp;&nbsp;&nbsp;
                <b>응원자: </b>50
            </p>
        </div>
        <% } %>




     </div>
 </div>
