<h1 class="ui header"><%=title%></h1>
<div class="">
    <div class="content ">


        <hr>
        <!-- <br> -->
        <table class="ui form celled table">
            <colgroup>
                <col width="10%">
                <!-- <col width="60%"> -->
            </colgroup>
            <tr>
                <td>사업자번호</td>
                <td>
                    <div class="field">
                        <div class="ui fluid multiple search selection dropdown">
                          <input type="hidden" name="receipt">
                          <i class="dropdown icon"></i>
                          <div class="default text">사업자 등록번호</div>
                          <div class="menu">
                            <div class="item" data-value="jenny" data-text="아카스타">
                              <img class="ui mini avatar image" src="https://semantic-ui.com/images/logo.png">
                              기업명: 아카스타 / 사업자번호: 000-00-0000 / 업종: IT, 서비스
                            </div>
                            <div class="item" data-value="jenny" data-text="블루킹스">
                              <img class="ui mini avatar image" src="https://semantic-ui.com/images/logo.png">
                              기업명: 블루킹스 / 사업자번호: 000-00-0000 / 업종: IT, 서비스
                            </div>
                            <div class="item" data-value="jenny" data-text="비전플랜">
                              <img class="ui mini avatar image" src="https://semantic-ui.com/images/logo.png">
                              기업명: 비전플랜 / 사업자번호: 000-00-0000 / 업종: IT, 서비스
                            </div>

                          </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>기업명</td>
                <td><input type="text" placeholder="기업명을 입력해 주세요" style="width:100%;"></td>
            </tr>
            <tr>
                <td>주소</td>
                <td><input type="text" placeholder="주소를 입력해 주세요" style="width:100%;"></td>
            </tr>
            <tr>
                <td>업종</td>
                <td><input type="text" placeholder="업종을 입력해 주세요" style="width:100%;"></td>
            </tr>

        </table>
        <hr>
    </div>
    <div class="actions">
        <div class="ui black deny button">닫기</div>
        <div class="ui positive right labeled icon button">
            등록하기<i class="checkmark icon"></i>
        </div>
    </div>
</div>






    <br>
    <!-- <div class="ui two column centered grid">
      <div class="ui centered pagination menu">
              <a class="icon item">
                <i class="left chevron icon"></i>
              </a>
              <a class="item">1</a>
              <a class="item">2</a>
              <a class="icon item">
                <i class="right chevron icon"></i>
              </a>
            </div>

    </div> -->
