

<h1 class="ui header">시간표관리</h1>

<hr>
<div class="ui secondary  menu" style="padding:0;">
  <a href="/lectures/template" class="item ">강의안</a>
  <a href="#" class="item active">시간표</a>


  <div class="right menu" style="padding:0;">

    <div class="item" style="padding:0;">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>

  </div>
</div>
<hr>

<table class="ui celled padded table ">
    <colgroup>
        <col width="6%">
        <col width="">
        <col width="15%">
    </colgroup>
    <thead>
    <tr>
        <th class="center aligned">No</th>
        <th class="center aligned">강의명</th>
        <th class="center aligned">등록일</th>
    </tr>
    </thead>
    <tbody>
    <% for(var ii=0; ii<10; ii++){ %>
    <tr>
        <td><%=ii+1%></td>
        <td class="single line"><a href="/lectures/template_timetable/<%=ii%>">우리회사 감성안전 지킴이</a></td>
        <td class="center aligned">2017.01.05 </td>
    </tr>
    <% }%>
    </tbody>
</table>

<br>
<div class="ui two column centered grid">
  <div class="ui centered pagination menu">
          <a class="icon item">
            <i class="left chevron icon"></i>
          </a>
          <a class="item">1</a>
          <a class="item">2</a>
          <a class="item">3</a>
          <a class="item">4</a>
          <a class="icon item">
            <i class="right chevron icon"></i>
          </a>
        </div>

        <a href="/lectures/new/summary">
        <div class="ui  animated button" tabindex="0" style="position:absolute; right:25px; height:40px; background:#4374D9; color: #fff;">
          <div class="visible content ">강의개설</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </div></a>
</div>
