

<h1 class="ui header">
    <div class="ui right pointing red basic label">template</div> 2017년 3차 APL자격 취득 강사 양성교육
</h1>




<!-- TAB MENU -->
<div class="ui top attached tabular menu">
  <a class="item active" data-tab="tab01">내용</a>
</div>




<!-- TAB 01 -->
<div class="ui bottom attached tab segment active" data-tab="tab01">
    <h4>강의목적</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <br>

    <h4>주요 강의내용</h4>
    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <br>

    <h4>강의 기대효과</h4>
    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <br>

    <h4>강의 역량지표</h4>
    <p>
        <a class="ui label large">리더십</a>
        <a class="ui label large">커뮤니케이션</a>
        <a class="ui label large">산업안전</a>
        <a class="ui label large">CS</a>
    </p>
    <br>

    <h4>첨부자료</h4>
    <table class="ui single line table">
        <colgroup>
            <col width="90%">
            <col width="10%">
        </colgroup>
        <thead>
            <tr>
                <th>파일명</th>
                <th>받기</th>
            </tr>
        </thead>
        <tbody>
        <% for(var ii=1; ii<=2; ii++){ %>
            <tr>
                <td>2017년 3차 APL자격 취득 강사 양성교육 자료.pdf</td>
                <td><a href="#">다운로드</a></td>
            </tr>
        <% } %>
        </tbody>
    </table>

    <br>

</div>



<!-- TAB 02 -->
<div class="ui bottom attached tab segment " data-tab="tab02">
    <h3>강의정보</h3>
    <table class="ui table celled">
        <tr>
            <td>주제</td>
            <td>감성안전을 위한 우리조직 안전리더십 개발</td>
        </tr>
        <tr>
            <td>액션러닝 기간</td>
            <td>2017년 03월 10일(월) ~ 2017년 05월 22일(목) 총 20일</td>
        </tr>
        <tr>
            <td>교육시간</td>
            <td>16시간 00분(4회차)</td>
        </tr>
        <tr>
            <td>교육일자</td>
            <td>
                <p>1회 - 2017년 03월 10일(월) (4시간)</p>
                <p>2회 - 2017년 03월 20일(월) (4시간)</p>
                <p>3회 - 2017년 04월 10일(월) (4시간)</p>
                <p>4회 - 2017년 04월 20일(월) (4시간)</p>
            </td>
        </tr>
    </table>

    <br>

    <h3>상세일정</h3>
    <% for(var ii=1; ii<=4; ii++){ %>
    <table class="ui table celled structured">
        <colgroup>
            <col width="10%"><col width="15%"><col width="60%"><col width="15%">
        </colgroup>
        <tr>
            <td rowspan="4"><%=ii%>회차</td>
            <td colspan="3">
                <span style="font-size:1.2em; font-weight:bold;">APL안내 및 기초</span>
                <br>2017년 08월 25일 09:00 ~ 17:00 (총 8시간) / 비전플랜 부산본사 대강의실
            </td>
        </tr>
            <tr>
                <td >09:00 ~ 10:00</td>
                <td >강의 안내 및 안전교육</td>
                <td >강의, 토론</td>
            </tr>
            <tr>
                <td >10:00 ~ 12:00</td>
                <td >액플런 기초 환경설정 및 강의개설 실습</td>
                <td >토론, 미션</td>
            </tr>
            <tr>
                <td >13:00 ~ 16:00</td>
                <td >강의개설 실습 및 모의강의 실습</td>
                <td >미션</td>
            </tr>
    </table>
    <br>
    <% } %>
</div>





<!-- TAB 03 -->
<div class="ui bottom attached tab segment " data-tab="tab03">
    <h3>강의정보</h3>
    <!-- LIST -->
    <table class="ui single line table">
        <colgroup>
            <col width="90%">
            <col width="10%">
        </colgroup>
        <thead>
            <tr>
                <th>파일명</th>
                <th>받기</th>
            </tr>
        </thead>
        <tbody>
        <% for(var ii=1; ii<=3; ii++){ %>
            <tr>
                <td>2017년 3차 APL자격 취득 강사 양성교육 자료.pdf</td>
                <td><a href="#">다운로드</a></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>
























<!-- 출력버튼 -->
<button class="circular ui icon button tooltip" style="position:fixed; bottom:35px; right: 30px;  font-size:1.75em; box-shadow:1px 1px 1px 1px rgba(0,0,0,0.1);" data-content="수정">
  <i class="icon write"></i>
</button>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script type="text/javascript">
    $('.menu .item').tab();
    $(document).ready(function() {
            $('.tooltip').popup();
    });





</script>
