<div class="ui vertical footer segment" style="background:#f1f1f1;">
  <div class="ui container">
    <h4 class="ui header">Footer Header</h4>
    <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
  </div>
</div>
