<div class="ui three item menu tabmenu" style="margin:0; border:none; text-align:center;">
<!-- <div class="ui three item menu tabmenu" style="margin:0; border:none; text-align:center; position:fixed; bottom:0; z-index:99"> -->
  <%
  var tabmenu =[
    {title: '진행강의', link: '/m/tutor', icon: 'toggle on'},
    {title: '종료강의', link: '/m/tutor/end', icon: 'sign out'},
    {title: '강의일정', link: '/m/tutor/schedule', icon: 'remove from calendar'}
  ]

  tabmenu.forEach(function(m){
  %>
  <a href="<%=m.link%>" class="item <%=(tab==m.title)?'active':''%>" style="padding:20px;"><i class="<%=m.icon%> icon"></i><%=m.title%></a>
  <% }); %>
</div>
