<div class="ui fixed text " style="border-bottom:1px solid #f1f1f1;">
  <div class="ui large secondary  menu">

    <div class="left item">
      <!-- <a class="ui icon "><i class="circular user link icon black"></i></a> -->
      <a href="/m/user"><h1 style="font-size:1.75em;" onclick="">Planch</h1></a>
    </div>
    <a class="toc item">
      <i class="sidebar medium icon" style="font-size:1.55em;"></i>
    </a>
  </div>
</div>
