<div class="ui four item menu tabmenu" style="margin:0; border:none; text-align:center;">
<!-- <div class="ui three item menu tabmenu" style="margin:0; border:none; text-align:center; position:fixed; bottom:0; z-index:99"> -->
  <%
  var tabmenu =[
    {title: 'MY PLAN', link: '/m/user', icon: 'toggle on'},
    {title: 'PLANCHEE', link: '/m/user/planchee', icon: 'sign out'},
    {title: 'ACTION PLAN', link: '/m/user/actionplan', icon: 'remove from calendar'},
    {title: 'TRAINING', link: '/m/user/training', icon: 'remove from calendar'}
  ]

  tabmenu.forEach(function(m){
  %>
  <a href="<%=m.link%>" class="item <%=(tab==m.title)?'active':''%>" style="padding:20px;"><%=m.title%></a>
  <% }); %>
</div>
