<%- include('modules/tabmenu')%>


<div class="ui vertical stripe quote segment" >
    <div class="left aligned row" style="font-size:70%; padding:10px 3px; ">


        <% for(var ii=1; ii<=6; ii++){  %>
        <div class=" cardbox">
            <h4>우리회사 감성안전 지킴이</h4>
            <p style="padding:0; margin:0;"><b>기간:</b> 2017.01.01 ~ 2017.01.05 [12시간/3일]</p>
            <p style="padding:0; margin:0;"><b>장소:</b> 부산광역시 남구 수영대로 99 액플런 본사</p>
            <p><b>인원:</b> 35명</p>
            <p>
                <button type="button" class="ui basic button" style="width:100%;"><i class="bar chart icon"></i>결과보기</button>
            </p>

        </div>
        <% } %>




     </div>
 </div>
