<%- include('modules/tabmenu')%>


<div class="ui vertical stripe quote segment" >
    <div class="left aligned row" style="font-size:70%; padding:10px 3px; ">


        <% for(var ii=1; ii<=6; ii++){  %>
        <a href="/m/tutor/schedule/detail">
        <div class=" cardbox">
            <!-- <h1><i class="users icon big"></i></h1> -->
            <h4>
                <% if(ii%3==0){ %>
                    <div class="ui gray tyni horizontal label">진행대기</div>
                <% }else{%>
                    <div class="ui green tyni horizontal label">진행강의</div>
                <% }%>
                우리회사 감성안전 지킴이
            </h4>
            <p style="padding:0; margin:0;"><b>기간:</b> 2017.01.01 ~ 2017.01.05 [12시간/3일]</p>
            <p><b>장소:</b> 부산광역시 남구 수영대로 99 액플런 본사</p>
            <div class="ui tiny progress">
                <% if(ii%3==0){ %>
                    <div class="bar" style="width:1%;"></div>
                    <div class="label">0%</div>
                <% }else{%>
                    <div class="bar" style="width:77%;"></div>
                    <div class="label">77%</div>
                <% }%>
            </div>
        </div>
        </a>
        <% } %>




     </div>
 </div>
