<h1 class="ui header"><div class="ui right pointing red basic label">
      공지
    </div>전산작업으로 인한 서비스 일시 중단 안내</h1>
    <table class="ui celled table">
        <colgroup>
            <col width="12%;">
            <col width="30%;">
            <col width="12%;">
            <col width="19%;">
            <col width="12%;">
            <col width="15%;">
        </colgroup>
        <tbody>
            <tr>
                <td><b>등록일</b></td>
                <td>2017년 09월 09일</td>
                <td><b>작성자</b></td>
                <td>관리자</td>
                <td><b>조회수</b></td>
                <td>120회</td>
            </tr>
        </tbody>
    </table>
<!-- <hr> -->

<div class="ui top attached tabular menu">
  <a class="item active" data-tab="first">내용</a>
  <a class="item" data-tab="second">댓글</a>
</div>



<!-- 탭1 -->
<div class="ui bottom attached tab segment active" data-tab="first">
    <h4>강의내용</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <br>
    <h4>수강요건</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    <br>
    <h4>오시는길</h4>
</div>



<!-- 탭2 -->
<div class="ui bottom attached tab segment comments" data-tab="second">
      <!-- <h3 class="ui dividing header">Comments</h3> -->
      <div class="comment">
        <a class="avatar">
          <img src="https://semantic-ui.com/images/avatar/small/matt.jpg">
        </a>
        <div class="content">
          <a class="author">Matt</a>
          <div class="metadata">
            <span class="date">Today at 5:42PM</span>
          </div>
          <div class="text">
            How artistic!
          </div>
          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>
      </div>
      <div class="comment">
        <a class="avatar">
          <img src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
        </a>
        <div class="content">
          <a class="author">Elliot Fu</a>
          <div class="metadata">
            <span class="date">Yesterday at 12:30AM</span>
          </div>
          <div class="text">
            <p>This has been very useful for my research. Thanks as well!</p>
          </div>
          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>
        <div class="comments">
          <div class="comment">
            <a class="avatar">
              <img src="https://semantic-ui.com/images/avatar/small/jenny.jpg">
            </a>
            <div class="content">
              <a class="author">Jenny Hess</a>
              <div class="metadata">
                <span class="date">Just now</span>
              </div>
              <div class="text">
                Elliot you are always so right :)
              </div>
              <div class="actions">
                <a class="reply">Reply</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="comment">
        <a class="avatar">
          <img src="https://semantic-ui.com/images/avatar/small/joe.jpg">
        </a>
        <div class="content">
          <a class="author">Joe Henderson</a>
          <div class="metadata">
            <span class="date">5 days ago</span>
          </div>
          <div class="text">
            Dude, this is awesome. Thanks so much
          </div>
          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>
      </div>
      <form class="ui reply form">
        <div class="field">
          <textarea></textarea>
        </div>
        <div class="ui blue labeled submit icon button">
          <i class="icon edit"></i> 등록
        </div>
      </form>

</div>




<script type="text/javascript">
    $('.menu .item')
      .tab()
    ;
</script>
